.newsletter__overlay {
	background-color: rgb(0 0 0 / 50%);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.newsletter__container {
	background-color: var(--wp--preset--color--accent, #fcf5f2);
	border-radius: 20px;
	box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	z-index: 10000;
}

.newsletter__image,
.newsletter__text {
	width: 100%;
}

.newsletter__image {
	min-height: 436px;
}

.newsletter__image img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.newsletter__content {
	align-items: center;
	display: flex;
	flex-flow: column;
}

.newsletter__text {
	padding: 44px 17px;
}

.newsletter__close-button {
	background-color: transparent;
	border: none;
	color: var(--wp--preset--color--primary, #000);
	cursor: pointer;
	font-size: 1.5rem;
	position: absolute;
	right: 44px;
	top: 44px;
	z-index: 10001;
}

.newsletter__title {
	color: var(--wp--preset--color--primary);
	font-size: 2.25rem;
	font-weight: 600;
	letter-spacing: 1.28px;
	line-height: 36px;
	margin-bottom: 24px;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}

.newsletter__description {
	margin-bottom: 24px;
}

.newsletter__description p {
	font-size: 0.875rem;
	margin: 0;
	text-align: center;
}

@media (--bp-large) {
	.newsletter__content {
		flex-flow: row;
	}

	.newsletter__image,
	.newsletter__text {
		width: 50%;
	}

	.newsletter__image {
		min-height: 627px;
	}

	.newsletter__image img {
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 0;
	}

	.newsletter__container {
		width: 100%;
	}

	.newsletter__text {
		padding: 65px;
	}

	.newsletter__description {
		margin-bottom: 60px;
	}

	.newsletter__title {
		font-size: 4rem;
		line-height: 64px;
		margin-bottom: 18px;
		text-align: left;
	}

	.newsletter__description p {
		font-size: 1.125rem;
		text-align: left;
	}
}
