.footer__menu-container {
	padding: 36px 0;
}

.footer__header-container {
	background-color: var(--wp--preset--color--white);
}

.footer__menu,
.privacy__menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer__menu {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	gap: 14px;
	justify-content: center;
}

.footer__menu > li > a {
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.footer__bottom-container {
	background-color: var(--wp--preset--color--primary);
}

.footer__brand-container {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 24px;
}

.footer__privacy-container {
	padding-bottom: 22px;
	padding-top: 22px;
}

.privacy__menu {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	justify-content: center;
}

.privacy__menu > li {
	padding: 4px 0;
}

.privacy__menu > li > a {
	color: var(--wp--preset--color--white);
	font-size: 1rem;
	line-height: 1.5;
	text-decoration: none;
}

.footer__copyright {
	color: var(--wp--preset--color--white);
	font-size: 1rem;
	padding-top: 12px;
	text-align: center;
}

@media (--bp-medium) {
	.footer__menu {
		gap: 45px;
	}

	.footer__brand-container {
		padding-top: 92px;
	}

	.privacy__menu {
		gap: 32px;
	}
}

@media (--bp-large) {
	.footer__menu {
		gap: 99px;
	}
}
