.site-header {
	padding: 12px 15px;
}

.site-desktop-header__inner {
	align-items: center;
	background-color: var(--wp--preset--color--white);
	border-radius: 20px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 15px 20px;
}

.header__brand-link img {
	height: 38px;
}

.header__menu-container {
	display: none;
}

.cart-mobile,
.account-mobile {
	display: block;
}

.cart-desktop,
.account-desktop {
	display: none;
}

.header__menu,
.header__menu-mobile {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header__menu {
	display: flex;
	gap: 33px;
}

.header__right-container {
	align-items: center;
	display: flex;
	gap: 14px;
}

.header__woo {
	align-items: center;
	display: flex;
	gap: 14px;
}

.header__menu > li > a,
.header__woo > a,
.header__menu-mobile > li > a,
.mobile-nav__woo > a {
	text-decoration: none;
}

.header__menu > li > a,
.header__woo > a {
	color: var(--wp--preset--color--neutral-black);
	line-height: 40px;
}

.header__menu-mobile > li {
	margin-bottom: 32px;
}

.header__menu-mobile > li > a,
.mobile-nav__woo > a {
	color: var(--wp--preset--color--primary);
	font-weight: 600;
	line-height: 36px;
	text-transform: uppercase;
}

.header__menu-mobile > li > a {
	font-size: 2.25rem;
}

.mobile-nav__woo > a {
	font-size: 1.5rem;
}

.header__mobile-navigation-container {
	display: block;
}

.header__menu-container-mobile {
	padding: 24px 17px;
}

.header__menu-mobile-button {
	background-color: transparent;
	border: 0;
	display: flex;
	padding: 0;
}

.mobile-navigation__container {
	position: absolute;
}

.mobile-nav__overlay {
	background-color: rgb(0 0 0 / 50%);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s ease-in-out,
		visibility 0.3s ease-in-out;
}

.mobile-nav__overlay.open {
	opacity: 1;
	visibility: visible;
}

.mobile-nav_inner {
	background-color: var(--wp--preset--color--accent, #fcf5f2);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
	display: flex;
	flex-flow: column;
	left: 0;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 80%;
	z-index: 99999;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
}

.mobile-nav_inner.open {
	transform: translateX(0);
}

.mobile-nav__close {
	background-color: transparent;
	border: none;
	color: var(--wp--preset--color--primary);
	position: relative;
	left: 12px;
	top: 12px;
}

.mobile-nav__footer {
	border-top: 1px solid var(--wp--preset--color--primary);
	padding-bottom: 70px;
	padding-top: 20px;
	margin: 0 17px;
	margin-top: auto;
}

@media screen and (max-width: 782px) {
	.admin-bar .mobile-nav__overlay,
	.admin-bar .mobile-nav_inner {
		top: 46px;
		height: calc(100% - 46px);
	}
}

@media screen and (min-width: 783px) {
	.admin-bar .mobile-nav__overlay,
	.admin-bar .mobile-nav_inner {
		top: 32px;
		height: calc(100vh - 32px);
	}
}

@media (--bp-medium) {
	.site-header {
		padding: 24px 0;
	}

	.site-desktop-header__inner {
		padding: 24px;
	}
}

@media (--bp-large) {
	.header__mobile-navigation-container,
	.cart-mobile,
	.account-mobile {
		display: none;
	}

	.cart-desktop,
	.account-desktop {
		display: block;
	}

	.site-header {
		padding: 44px 0;
	}

	.site-desktop-header__inner {
		padding: 44px;
	}

	.header__menu-container {
		display: block;
	}

	.header__brand-link img {
		height: 67px;
	}
}
