/* stylelint-disable */
/*
 * Ensure that we are not overriding the editor styles of the
 * WordPress Components.
 *
 * This is a workaround for: https://github.com/WordPress/gutenberg/issues/10178
 *
 * using :where to prevent the specificity increase of using :not
 */

.wp-block-button .wp-element-button,
.button-primary {
	background-color: var(--wp--preset--color--primary) !important;
	border: 2px solid var(--wp--preset--color--primary) !important;
	border-radius: 100px !important;
	box-sizing: border-box;
	color: var(--wp--preset--color--white) !important;
	cursor: pointer;
	display: inline-block;
	font-size: var(--wp--preset--font-size--medium) !important;
	font-weight: 600 !important;
	min-height: 50px !important;
	min-width: 160px !important;
	padding: 17px 58px !important;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase !important;
	transition: background 300ms ease-in !important;
}

.wp-block-button .wp-element-button:hover,
.button-primary:hover {
	background-color: var(--wp--preset--color--white) !important;
	border: 2px solid var(--wp--preset--color--white) !important;
	color: var(--wp--preset--color--primary) !important;
}

.button-secondary {
	background-color: var(--wp--preset--color--white) !important;
	border: 2px solid var(--wp--preset--color--white) !important;
	border-radius: 100px !important;
	box-sizing: border-box;
	color: var(--wp--preset--color--primary) !important;
	cursor: pointer;
	display: inline-block;
	font-size: var(--wp--preset--font-size--medium) !important;
	font-weight: 600 !important;
	min-height: 50px !important;
	min-width: 160px !important;
	padding: 17px 58px !important;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase !important;
	transition: background 300ms ease-in !important;
}

.button-secondary:hover {
	background-color: var(--wp--preset--color--primary) !important;
	border: 2px solid var(--wp--preset--color--primary) !important;
	color: var(--wp--preset--color--white) !important;
}

button:where(:not(.components-button)) {
	all: unset;
}

.button-primary:where(:not(.components-button)) {
	background-color: var(--wp--preset--color--primary);
	border: 2px solid var(--wp--preset--color--primary);
	border-radius: 100px;
	color: var(--wp--preset--color--white);
	cursor: pointer;
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 600;
	padding: 17px 58px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 300ms ease-in;
}

.button-primary:hover:where(:not(.components-button)) {
	background-color: var(--wp--preset--color--white);
	border: 2px solid var(--wp--preset--color--white);
	color: var(--wp--preset--color--primary);
}

.button-secondary:where(:not(.components-button)) {
	background-color: var(--wp--preset--color--white);
	border: 2px solid var(--wp--preset--color--white);
	border-radius: 100px;
	color: var(--wp--preset--color--primary);
	cursor: pointer;
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 600;
	padding: 17px 58px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 300ms ease-in;
}

.button-secondary:hover:where(:not(.components-button)) {
	background-color: var(--wp--preset--color--primary);
	border: 2px solid var(--wp--preset--color--primary);
	color: var(--wp--preset--color--white);
}

.woocommerce-account .woocommerce-Button {
	background-color: var(--wp--preset--color--primary) !important;
	border: 2px solid var(--wp--preset--color--primary) !important;
	border-radius: 100px !important;
	box-sizing: border-box;
	color: var(--wp--preset--color--white) !important;
	cursor: pointer;
	display: inline-block;
	font-size: var(--wp--preset--font-size--medium) !important;
	font-weight: 600 !important;
	min-height: 50px !important;
	min-width: 160px !important;
	padding: 17px 58px !important;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase !important;
	transition: background 300ms ease-in !important;
	width: fit-content;
}

.woocommerce-account .woocommerce-Button:hover {
	background-color: var(--wp--preset--color--white) !important;
	border: 2px solid var(--wp--preset--color--white) !important;
	color: var(--wp--preset--color--primary) !important;
}
