.woo_single_product__container .product {
	display: flex;
	gap: 72px;
	justify-content: space-between;
	margin: 60px 0;
}

.woo_single_product__container div.product div.images.woocommerce-product-gallery {
	float: none;
	margin: 0;
	padding: 0;
	width: 55%;
}

.woo_single_product__container div.product div.summary {
	float: none;
	margin: 0;
	padding: 0;
	width: 45%;
}

.woo_single_product__container div.product .product_title {
	color: var(--wp--preset--color--primary);
	font-family: var(--wp--preset--font-family--chillax);
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 0;
	text-transform: uppercase;
}

.woo_single_product__container div.product .price,
.woo_single_product__container div.product .price span {
	color: var(--wp--preset--color--neutral-black);
	font-family: var(--wp--preset--font-family--chillax);
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	margin-top: 10px;
}

.woo_single_product__container div.product form.cart {
	margin-top: 60px;
}

.woo_single_product__container div.product .woocommerce-variation-add-to-cart {
	margin-top: 60px;
}

.woo_single_product__container div.product p.price ins,
.woo_single_product__container div.product span.price ins {
	text-decoration: none;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price {
	color: var(--wp--preset--color--neutral-black);
}


.woo_single_product__container div.product form.cart div.quantity {
	display: none !important;
}

.woo_single_product__container div.product .woocommerce-variation-availability {
	display: none !important;
}

.woo_single_product__container div.product form.cart .button,
.woo_single_product__container div.product form.cart .personalize-your-own-button {
	height: 64px;
	width: 100%;
}

.woo_single_product__container div.product form.cart .personalize-your-own-button {
	border-color: var(--wp--preset--color--primary) !important;
	line-height: 1;
	margin-bottom: 10px;
	text-transform: none !important;
}

.woo_single_product__container div.product form.cart .variations label {
	color: var(--wp--preset--color--neutral-black);
	font-family: var(--wp--preset--font-family--chillax);
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
}


.woo_single_product__container div.product div.images img {
	border-radius: 20px;
}


.woo_single_product__container div.product .woocommerce-product-gallery {
	display: flex;
	flex-direction: row-reverse;
	gap: 20px;
}

.woo_single_product__container div.product .woocommerce-product-gallery .flex-viewport {
	flex: 1;
}

.woo_single_product__container div.product div.images .woocommerce-product-gallery__wrapper {
	float: none;
	width: 100%;
}

.woo_single_product__container div.product .woocommerce-product-gallery .flex-control-thumbs {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: auto;
	margin: 0;
	width: 100px;
}

.woo_single_product__container div.product div.images .flex-control-thumbs li {
	float: none;
	margin: 0;
	width: 100%;
}
